

/***************************************

FONTS

******************************************/

@font-face {
  font-family: pangram;
  src: url('../fonts/Pangram-Medium.otf');
  font-style: normal;
}

$pangram: pangram;
$proxima: "proxima-nova", sans-serif;


$blue: #4A90E2;
$secondary-color: #ffa200;