header{
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  border-bottom: 1px solid #EEEEEE;
  height: 79px;

  @include breakpoint(laptop){
    height: 60px;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left{
  position: relative;
  display: flex;
  align-items: center;
  
  p{
    color: #4A4A4A;
    font-size: 30px;
    font-weight: 400;
    line-height: 29px;
    margin: 0;
    font-family: 'Baloo Bhaijaan', cursive;
    letter-spacing: -1px;
    
    span{
      color: $blue;
    }
  }
  .menu-primary-menu-container {
    @include breakpoint(laptop){
      display: none;
    }
  }
}

.menu-primary-menu-container{

  ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto;
  }

  li{
    margin: 0 40px 0 0;
  }
  a{
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $pangram;
    letter-spacing: 1px;
  }
  .current-menu-item{
    a{
      color: $blue;
    }
  }
}

.header-logo{
  margin-right: 60px;
  position: relative;
}

.social-list{
  display: flex;
}

.header-right{

  @include breakpoint(laptop){
    display: none;
  }
}

.social-icon{
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(155,155,155,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  height: 32px;
  width: 32px;
  position: relative;

  i{
    font-size: 16px;
    color: #9B9B9B;
  }
}

.second-header{
  height: 46px;
  background-color: #4A4A4A;
  position: relative;

  @include breakpoint(small) {
    display: none;
  }

  .max-width{
    height: 100%;
    display: flex;
  }

  a{
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin-right: 50px;
  }

  .active-link{
    font-weight: bold;
  }
}

.mobile-menu{
  display: none;
  position: fixed;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100%;
  background: $blue;
  z-index: 4;

  .menu-primary-menu-container ul {
    display: block;
  }

  li{
    margin: 0;
    opacity: 0;
    left: -20px;
    position: relative;
  }

  a{
    display: flex;
    padding: 18px 15px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    position: relative;

    &:hover{
      background: rgba(255,255,255,.23);
      transition: 0.2s ease-in-out;
      transition-delay: 0s !important;
    }
  }
  .current-menu-item{
    a{
      color:white;
      opacity: 0.6;
    }
  }

}

.mobile-links{
  li{
    opacity: 1;
    left: 0;
    transition: opacity 0.1s ease-in-out, left 0.2s ease-in-out;
    transition-delay: 0.1s;
  }

  li:nth-child(2) {
    transition-delay: 0.2s; /* So they look staggered */
  }
  li:nth-child(3) {
    transition-delay: 0.3s; /* So they look staggered */
  }
  li:nth-child(4) {
    transition-delay: 0.4s; /* So they look staggered */
  }
  li:nth-child(5) {
    transition-delay: 0.5s; /* So they look staggered */
  }
  li:nth-child(6) {
    transition-delay: 0.6s; /* So they look staggered */
  }
}


/* --------- HAMBURGER STYLING --------------*/

.hamburger{
  display: none;
  padding: 0;
  outline: none;

  @include breakpoint(laptop) {
    display: block;
  }

  &:hover{
    .hamburger-inner:before {
      width: 100%;
    }
  }
}

.hamburger-box{
  width: 25px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
  width: 100%;
  border-radius: 0;
  background-color: $blue;
}
.hamburger-inner:after{
  bottom: -8px;
}
.hamburger-inner:before {
  top: -8px;
  width: 50%;
  transition: top .1s .34s ease-in, opacity .1s ease-in, width .2s !important;
}
