.home-section{

  .reverse-col{
    width: calc(100% + 20px);

    @include breakpoint(desktop) {
      width: calc(100% + 30px);
    }
    @include breakpoint(tablet) {
      width: 100%;
    }

    .left-col{
      margin: 0 0 0 20px;

      @include breakpoint(desktop) {
        margin: 0 0 0 10px;
      }
      @include breakpoint(laptop) {
        margin: 0;
      }
    }
  }
}

.home-grid{
  display: flex;
  flex-wrap: wrap;
}

.home-grid-content{
  width: calc(50% - 42px);
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.1);
  border: 1px solid #EEE;
  margin: 0 20px 40px;
  background: white;
  position: relative;
  transition: box-shadow 0.2s ease-in-out;
  padding-bottom: 60px;

  @include breakpoint(desktop) {
    margin: 0 10px 20px;
  }
  @include breakpoint(tablet) {
    margin: 0 0 20px 0;
    width: 100%;
  }

  &:hover{
    box-shadow: 2px 3px 10px 3px rgba(0,0,0,.1);
  }
}

.home-grid-img{
  width: 100%;
  height: 19vw;

  @include breakpoint(laptop) {
    height: 28vw;
  }
  @include breakpoint(tablet) {
    height: 54vw;
  }
}

.home-grid-text{
  background: white;
  padding: 25px 30px 0;

  @include breakpoint(desktop) {
    padding: 25px 20px 0;
  }

  h3{
    margin: 0;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }

  p{
    color: #000000;
    font-size: 14px;
    line-height: 22px;
    margin: 13px 0;
  }
}

.home-grid-tags{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 60px);
  left: 30px;

  @include breakpoint(desktop) {
    width: calc(100% - 40px);
    left: 20px;
  }

  p{
    margin: 0;
    color: $blue;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    i{
      font-size: 16px;
      color: #dddddd;
      margin-right: 5px;
    }
  }

  a{
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    background: #fedae1;
    padding: 10px 12px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #f9778e;
  }
}